<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1>My Goals</h1>
    </div>
    <div class="col-sm-2">
      <h1>
        <%= link_to new_user_goal_path(current_user.id) do %>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <h2>Recurring Goals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h3>Daily Goals</h3>
          <div class="card">
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <h3>Weekly Goals</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h3>Monthly Goals</h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <h3>Yearly Goals</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h2>One-off Goals</h2>
      </div>
    </div>
  </div>
</div>